-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "Account" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,
    "refresh_token_expires_in" INTEGER,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT,
    "email" TEXT,
    "emailVerified" TIMESTAMP(3),
    "image" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VerificationToken" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateTable
CREATE TABLE "CapacitySettings" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "dailyCapacityHours" DECIMAL(4,1) NOT NULL DEFAULT 10,
    "workStartTime" TEXT NOT NULL DEFAULT '09:00',
    "blockMinutes" INTEGER NOT NULL DEFAULT 90,
    "breakMinutes" INTEGER NOT NULL DEFAULT 15,
    "lunchMinutes" INTEGER NOT NULL DEFAULT 60,
    "lunchStartTime" TEXT NOT NULL DEFAULT '12:30',
    "maxProjectSharePct" INTEGER NOT NULL DEFAULT 40,
    "maxContextSwitches" INTEGER NOT NULL DEFAULT 3,
    "bufferMinutes" INTEGER NOT NULL DEFAULT 60,
    "workDays" JSONB NOT NULL DEFAULT '[1,2,3,4,5]',
    "weekdayHours" JSONB NOT NULL DEFAULT '{"1":10,"2":10,"3":10,"4":10,"5":10,"6":0,"7":0}',
    "timezone" TEXT NOT NULL DEFAULT 'Africa/Algiers',
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CapacitySettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Project" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "projectType" TEXT NOT NULL DEFAULT 'personal',
    "status" TEXT NOT NULL DEFAULT 'active',
    "schedulingMode" TEXT NOT NULL DEFAULT 'flexible',
    "importanceWeight" INTEGER NOT NULL DEFAULT 5,
    "deadline" DATE,
    "estimatedHoursRemaining" DECIMAL(6,1),
    "maxDailyHours" DECIMAL(4,1),
    "requiresDeepFocus" BOOLEAN NOT NULL DEFAULT true,
    "notes" TEXT NOT NULL DEFAULT '',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Project_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FixedEvent" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "projectId" TEXT,
    "title" TEXT NOT NULL,
    "eventType" TEXT NOT NULL DEFAULT 'meeting',
    "date" DATE NOT NULL,
    "startTime" TEXT NOT NULL,
    "endTime" TEXT NOT NULL,
    "notes" TEXT NOT NULL DEFAULT '',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "FixedEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdHocItem" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "projectId" TEXT,
    "title" TEXT NOT NULL,
    "urgencyBoost" DECIMAL(3,2) NOT NULL DEFAULT 0.5,
    "expiresAt" DATE,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AdHocItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MonthlyPlan" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "monthStart" DATE NOT NULL,
    "projectBudgets" JSONB NOT NULL DEFAULT '[]',
    "weekMilestones" JSONB NOT NULL DEFAULT '[]',
    "generatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MonthlyPlan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WeeklyPlan" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "weekStart" DATE NOT NULL,
    "totalCapacityHours" DECIMAL(5,1) NOT NULL DEFAULT 0,
    "generatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WeeklyPlan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WeeklyAllocation" (
    "id" TEXT NOT NULL,
    "weeklyPlanId" TEXT NOT NULL,
    "projectId" TEXT NOT NULL,
    "plannedHours" DECIMAL(5,1) NOT NULL DEFAULT 0,
    "priorityScore" DECIMAL(6,3) NOT NULL DEFAULT 0,
    "driftPenalty" DECIMAL(4,2) NOT NULL DEFAULT 1,

    CONSTRAINT "WeeklyAllocation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DailyPlan" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "weeklyPlanId" TEXT,
    "date" DATE NOT NULL,
    "totalCapacityHours" DECIMAL(4,1) NOT NULL DEFAULT 10,
    "generatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "efficiencyScore" INTEGER,

    CONSTRAINT "DailyPlan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ScheduleBlock" (
    "id" TEXT NOT NULL,
    "dailyPlanId" TEXT NOT NULL,
    "startTime" TEXT NOT NULL,
    "endTime" TEXT NOT NULL,
    "blockType" TEXT NOT NULL,
    "projectId" TEXT,
    "fixedEventId" TEXT,
    "isLocked" BOOLEAN NOT NULL DEFAULT false,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "reasonShort" TEXT NOT NULL DEFAULT '',

    CONSTRAINT "ScheduleBlock_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExecutionReport" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "dailyPlanId" TEXT,
    "date" DATE NOT NULL,
    "totalProductiveHours" DECIMAL(4,1) NOT NULL DEFAULT 0,
    "totalWastedHours" DECIMAL(4,1) NOT NULL DEFAULT 0,
    "efficiencyScore" INTEGER NOT NULL DEFAULT 0,
    "submittedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ExecutionReport_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExecutionActual" (
    "id" TEXT NOT NULL,
    "reportId" TEXT NOT NULL,
    "projectId" TEXT NOT NULL,
    "plannedHours" DECIMAL(4,1) NOT NULL DEFAULT 0,
    "actualHours" DECIMAL(4,1) NOT NULL DEFAULT 0,
    "notes" TEXT NOT NULL DEFAULT '',

    CONSTRAINT "ExecutionActual_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PlanningLearning" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "projectId" TEXT NOT NULL,
    "overfocusStreak" INTEGER NOT NULL DEFAULT 0,
    "neglectDays" INTEGER NOT NULL DEFAULT 0,
    "driftPenaltyMultiplier" DECIMAL(4,2) NOT NULL DEFAULT 1,
    "avgActualShare" DECIMAL(5,2) NOT NULL DEFAULT 0,
    "lastTouchedAt" DATE,

    CONSTRAINT "PlanningLearning_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON "Account"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "Session_sessionToken_key" ON "Session"("sessionToken");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_token_key" ON "VerificationToken"("token");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON "VerificationToken"("identifier", "token");

-- CreateIndex
CREATE UNIQUE INDEX "CapacitySettings_userId_key" ON "CapacitySettings"("userId");

-- CreateIndex
CREATE INDEX "Project_userId_status_idx" ON "Project"("userId", "status");

-- CreateIndex
CREATE INDEX "FixedEvent_userId_date_idx" ON "FixedEvent"("userId", "date");

-- CreateIndex
CREATE INDEX "AdHocItem_userId_idx" ON "AdHocItem"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "MonthlyPlan_userId_monthStart_key" ON "MonthlyPlan"("userId", "monthStart");

-- CreateIndex
CREATE UNIQUE INDEX "WeeklyPlan_userId_weekStart_key" ON "WeeklyPlan"("userId", "weekStart");

-- CreateIndex
CREATE UNIQUE INDEX "WeeklyAllocation_weeklyPlanId_projectId_key" ON "WeeklyAllocation"("weeklyPlanId", "projectId");

-- CreateIndex
CREATE UNIQUE INDEX "DailyPlan_userId_date_key" ON "DailyPlan"("userId", "date");

-- CreateIndex
CREATE INDEX "ScheduleBlock_dailyPlanId_idx" ON "ScheduleBlock"("dailyPlanId");

-- CreateIndex
CREATE UNIQUE INDEX "ExecutionReport_userId_date_key" ON "ExecutionReport"("userId", "date");

-- CreateIndex
CREATE UNIQUE INDEX "ExecutionActual_reportId_projectId_key" ON "ExecutionActual"("reportId", "projectId");

-- CreateIndex
CREATE UNIQUE INDEX "PlanningLearning_projectId_key" ON "PlanningLearning"("projectId");

-- CreateIndex
CREATE UNIQUE INDEX "PlanningLearning_userId_projectId_key" ON "PlanningLearning"("userId", "projectId");

-- AddForeignKey
ALTER TABLE "Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CapacitySettings" ADD CONSTRAINT "CapacitySettings_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Project" ADD CONSTRAINT "Project_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FixedEvent" ADD CONSTRAINT "FixedEvent_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FixedEvent" ADD CONSTRAINT "FixedEvent_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AdHocItem" ADD CONSTRAINT "AdHocItem_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AdHocItem" ADD CONSTRAINT "AdHocItem_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MonthlyPlan" ADD CONSTRAINT "MonthlyPlan_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WeeklyPlan" ADD CONSTRAINT "WeeklyPlan_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WeeklyAllocation" ADD CONSTRAINT "WeeklyAllocation_weeklyPlanId_fkey" FOREIGN KEY ("weeklyPlanId") REFERENCES "WeeklyPlan"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WeeklyAllocation" ADD CONSTRAINT "WeeklyAllocation_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DailyPlan" ADD CONSTRAINT "DailyPlan_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DailyPlan" ADD CONSTRAINT "DailyPlan_weeklyPlanId_fkey" FOREIGN KEY ("weeklyPlanId") REFERENCES "WeeklyPlan"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleBlock" ADD CONSTRAINT "ScheduleBlock_dailyPlanId_fkey" FOREIGN KEY ("dailyPlanId") REFERENCES "DailyPlan"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleBlock" ADD CONSTRAINT "ScheduleBlock_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleBlock" ADD CONSTRAINT "ScheduleBlock_fixedEventId_fkey" FOREIGN KEY ("fixedEventId") REFERENCES "FixedEvent"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExecutionReport" ADD CONSTRAINT "ExecutionReport_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExecutionReport" ADD CONSTRAINT "ExecutionReport_dailyPlanId_fkey" FOREIGN KEY ("dailyPlanId") REFERENCES "DailyPlan"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExecutionActual" ADD CONSTRAINT "ExecutionActual_reportId_fkey" FOREIGN KEY ("reportId") REFERENCES "ExecutionReport"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExecutionActual" ADD CONSTRAINT "ExecutionActual_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlanningLearning" ADD CONSTRAINT "PlanningLearning_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PlanningLearning" ADD CONSTRAINT "PlanningLearning_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

